<div class="row">
  <div class="small-12 columns">
  <h1>Welcome to KK's Rails Portfolio</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  <p>As a Seattle-based web developer, I strive to improve my skills and continue to hone my skills so as to create the most efficient web apps possible. </p>
  </div>
</div>

<p><%= link_to 'New post', new_post_path, :class =>'welcome' %></p>


